<header>
  <nav class="header-nav">
    <a class="header-title" href="/"><img src="/img/logo.png"></a>
    <ul>
      <li><a href="/photos">Photos</a></li>
      <li><a href="/photographers">Photographers</a></li>
      <li><a href="/photos/new">Add Photo</a></li>
      <li><a href="/photographers/new">Add Photographer</a></li>
    </ul>

    </script>
  </nav>
</header>