<h2 class="page-header">Search Photo</h2>
<form action="/photos" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Title</label>
      <input type="text" name="title" autocomplete="off" value="<%= searchOptions.title %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label>Posted After</label>
      <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
    </div>
    <div class="form-item">
      <label>Posted Before</label>
      <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br>
<%- include('../partials/photoGrid', { photos: photos, large: true }) %>
<div style="position: absolute; bottom: -10vw; left: 10vw;" class="home-page-circle-1"></div>
<div style="position: absolute; bottom: -40vw; right: 7vw;" class="home-page-circle-2"></div>
<div style="position: absolute; bottom: -62vw; left: 15vw;" class="home-page-circle-3"></div>