
.btn {
  border: 1px solid var(--frm-color);
  border-radius: .25rem;
  padding: .3rem .8rem;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.btn-row {
  display: flex;
  align-items: flex-start;
}

.btn-row > * {
  margin-left: 1rem;
}

.btn-row > *:first-child {
  margin-left: 0;
}

.btn-primary {
  color: var(--white-color);
  /* background: linear-gradient(to right, var(--lght-color), #6A7090 ) ; */
  background: var(--lght-color);
}

.btn-primary:hover {
  background-color: #6A7090;
}

.btn-danger {
  color: var(--white-color);
  /* background: linear-gradient(to right, var(--pink-color), #F75586); */
  background: var(--pink-color);
}

.btn-danger:hover {
  background-color: #C74B85;
}

